main{
    margin: 150px auto;
}

.chart{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

text{
    font-size: 10px;
    font-family: monospace;
}

path, line{
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
}

body{
    background: #2062f2;
}
